// Start Primary Font Family
$trucker__primary-font: "DM Sans", serif;
// End Primary Font Family

// Start Secondary Font Family
$trucker__secondary-font: "Heebo", serif;
// End Secondary Font Family

// Start Another Font Family
$trucker__jost-font: "Jost", serif;
// End Another Font Family

// Start Template Color Plate
$trucker__primary-color: #FFFFFF;
$trucker__secondary-color:#062E39;
$trucker__green:#2A9D8F;
$trucker__gary:#747474;
$trucker__light-green:#88C2BB;
$trucker__black:#061316;
$trucker__gary2:#899AA2;
$trucker__gary3:#616161;
$trucker__border-color:#DDDDDD;
$trucker__light:#F6F9FA;
$trucker__glow-black:#18191D;
$trucker__black1:#000;
// End Template Color Plate

// Start Transition 
$trucker__transition: linear 0.4s;
// End Transition 
