/* Error: expected "{".
 *     ,
 * 154 | https://www.youtube.com/watch?v=VwkGY34WASE
 *     |                                            ^
 *     '
 *   Videos\trucker\assets\sass\pages\_blog-details.scss 154:44  @import
 *   Videos\trucker\assets\sass\style.scss 42:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 154 \2502  https://www.youtube.com/watch?v=VwkGY34WASE\a     \2502                                             ^\a     \2575 \a   Videos\\trucker\\assets\\sass\\pages\\_blog-details.scss 154:44  @import\a   Videos\\trucker\\assets\\sass\\style.scss 42:9                  root stylesheet';
}
