.trucker__green{
    color: #2A9D8F;
}
.trucker__gray{
    color: #747474;
}
.trucker__white{
    color: #fff;
}
.trucker__deep-sea-blue{
    color: #062E39;
}
.trucker__black{
    color: #000;
}
.trucker__gray-2{
    color: #899AA2;
}
.trucker__gray-3{
    color:#909090;
}
.trucker__gray-4{
    color: #5E5F63;
}
.trucker__gray-5{
    color:  #616161;
}
.trucker__fm-jost{
    font-family: "Jost", serif;
}
.trucker__glow-black{
    color: #18191D;
}