.trucker__fw-100{
    font-weight: 100;
}
.trucker__fw-200{
    font-weight: 200;
}
.trucker__fw-300{
    font-weight: 300;
}
.trucker__fw-400{
    font-weight: 400;
}
.trucker__fw-500{
    font-weight: 500;
}
.trucker__fw-600{
    font-weight: 600;
}
.trucker__fw-700{
    font-weight: 700;
}
.trucker__fw-800{
    font-weight: 800;
}
.trucker__fw-900{
    font-weight: 900;
}