// Start Blog Details Area
.trucker__blog-details-area{
    position: relative;

}
.trucker__blog-details-wrapper{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 30px;
    .trucker__fast-box-icon-wrapper{
        display: flex;
        align-items: center;
        gap: 32px;
        .trucker__fast-box-icon-inner{
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}
.trucker__blog-details-left-site{
    width: 65%;
}
.trucker__second-box-img-link-wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
    .trucker__second-box-link{
        display: block;
        position: relative;
        margin-bottom: 23px;
        transition: $trucker__transition;
        &:hover{
            color: $trucker__green;
        }
        &:last-child{
            margin-bottom: 0;
        }
        .trucker__second-box-link-icon{
            position: relative;
            top: -1px;
            margin-right: 10px;
        }
    }
}
.trucker__second-box-two-img-wrapper{
    display: flex;
    align-items: center;
    gap: 34px;
}
.trucker__blog-details-tag-line-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    .trucker__blog-details-tag-line-inner{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .trucker__blog-details-tag-line-button-box{
        display: flex;
        align-items: center;
        gap: 20px;
        a{
            padding: 9px 21px;
            background-color: #F8F8F8;
            transition: $trucker__transition;
            &:hover{
                background-color: $trucker__green;
                color: $trucker__primary-color;
            }
        }
    }
}
.trucker__blog-details-tag-line-icons{
    display: flex;
    align-items: center;
    gap: 10px;

}
.trucker__blog-details-tag-line-icon,
.trucker__blog-details-writer-icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: $trucker__primary-color;
    color: $trucker__green;
    border: 1px solid $trucker__green;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    transition: $trucker__transition;
    &:hover{
        background-color: $trucker__green;
        border-color: transparent;
        color: $trucker__primary-color;
    }
    &.trucker__blog-details-writer-icon{
        width: 45px;
        height: 45px;
        background-color: #F8FAFA;
        border-color: #E7E7E7;
        line-height: 45px;
        &:hover{
            background-color: $trucker__green;
            border-color: transparent;
            color: $trucker__primary-color;
        }
    }
}
.trucker__blog-details-about-writer{
    display: flex;
    align-items: center;
    gap: 42px;
    border-bottom: 1px solid #E3E3E3;
    .trucker__blog-details-about-writer-img{
        width: 50%;
    }
}
.trucker__blog-details-next-prev-wrapper{
    display: flex;
    align-items: center;
    gap: 24px;
    .trucker__blog-details-prev-inner,
    .trucker__blog-details-next-inner{
        background-color: #F8F8F8;
        padding: 37px 27px;
        width: 50%;
        &.trucker__blog-details-next-inner{
            .trucker__blog-details-tranding-blog-wrapper{
                justify-content: end;
                .trucker__blog-details-tranding-arrows{
                    a{
                        display: block;
                        text-align: right;
                    }
                }
                .trucker__blog-details-tranding-peragraph{
                    text-align: right;
                }
            }
        }
    }
    .trucker__blog-details-tranding-blog-wrapper{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
// End Blog Details Area
